<div class="fundo flex align-items-center justify-content-center">
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="entrar()">
      <p-card>
        <ng-template pTemplate="title">
          <div class="flex align-items-center">
            <img src="../../assets/sistema.png" />
            <div class="flex-grow-1 text-right">Login</div>
          </div>
        </ng-template>
        <p-message severity="error" text="e-Mail/senha inválido" *ngIf="falhaLogin"></p-message>
        <div class="field">
          <label for="email">e-Mail</label>
          <input formControlName="email" id="email" type="email" class="w-full p-inputtext-sm" pInputText autofocus />
        </div>
        <div>
          <label for="password">Senha</label>
          <input formControlName="senha" id="password" type="password" class="w-full p-inputtext-sm" pInputText />
        </div>

        <ng-template pTemplate="footer">
          <button pButton color="primary" [disabled]="!form.valid">Login</button>
        </ng-template>
      </p-card>
    </form>
  </div>
</div>
