html,
body {
  font-size: 14px;
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--surface-ground);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
}

.barra-botao {
  margin: 0.5rem 0;
}

.barra-botao > * {
  margin: 0 0.25rem;
}

.col-acao {
  width: 1rem;
  white-space: nowrap;
}

.col-id {
  width: 5rem;
}

.col-dt {
  width: 8rem;
}

.col-numeric {
  text-align: right !important;
}
