.layout-wrapper .layout-topbar {
  height: 55px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.layout-wrapper .layout-content {
  padding: 60px 0;
}

button {
  margin: 0 0.5em;
}
button:first-of-type {
  margin-left: 0;
}
button:last-of-type {
  margin-right: 0;
}

button:hover,
button:focus {
  background: rgba(0, 0, 0, 0.4);
}

button.linkSelecionado {
  background: rgba(0, 0, 0, 0.2);
}
