<form [formGroup]="form" (ngSubmit)="atualizar()">
  <div class="grid formgrid align-items-end">
    <div class="field col-12 sm:col-3 lg:col-3 xl:col-2">
      <label for="dtInicio">Início</label>
      <p-calendar
        formControlName="dtInicio"
        inputId="dtInicio"
        class="p-inputtext-sm"
        styleClass="w-full"
        [showIcon]="true"
        [showButtonBar]="true"
      ></p-calendar>
    </div>

    <div class="field col-12 sm:col-3 lg:col-3 xl:col-2">
      <label for="dtFim">Fim</label>
      <p-calendar
        formControlName="dtFim"
        inputId="dtFim"
        class="p-inputtext-sm"
        styleClass="w-full"
        [showIcon]="true"
        [showButtonBar]="true"
      ></p-calendar>
    </div>

    <div class="field col-12 sm:col-6 lg:col-2 xl:col-2">
      <label for="base">Tipo</label>
      <p-dropdown
        formControlName="tipo"
        class="p-inputtext-sm"
        styleClass="w-full"
        [options]="tipos"
        optionLabel="nome"
        optionValue="id"
      >
      </p-dropdown>
    </div>

    <div class="field col-12 sm:col-6 lg:col-2 xl:col-2">
      <label for="base">Indicador</label>
      <p-dropdown
        formControlName="indicador"
        class="p-inputtext-sm"
        styleClass="w-full"
        [options]="indicadores"
        optionLabel="nome"
        optionValue="id"
      >
      </p-dropdown>
    </div>

    <div class="field col-2 md:col-1">
      <button pButton class="p-button-sm" [disabled]="!form.valid">Atualizar</button>
    </div>
    <div class="field col-2 md:col-1">
      <button pButton class="p-button-sm" [disabled]="!form.valid" type="button" (click)="baixarXls()">XLS</button>
    </div>
  </div>
</form>

<p-table
  [value]="linhas"
  sortField="objetivoDtFim"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
  *ngIf="form.get('tipo')?.value == 'porPeriodo'"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="objetivoDtFim">Período<p-sortIcon field="objetivoDtFim"></p-sortIcon></th>
      <th pSortableColumn="lojaNome">Loja<p-sortIcon field="lojaNome"></p-sortIcon></th>
      <th pSortableColumn="vendedorNome">Vendedor<p-sortIcon field="vendedorNome"></p-sortIcon></th>
      <th class="cpf" pSortableColumn="vendedorCpf">CPF<p-sortIcon field="vendedorCpf"></p-sortIcon></th>
      <th class="codigo" pSortableColumn="vendedorCodigo">Código<p-sortIcon field="vendedorCodigo"></p-sortIcon></th>
      <th class="premio" pSortableColumn="vlrVendaPosicao">
        Venda R$<p-sortIcon field="vlrVendaPosicao"></p-sortIcon>
      </th>
      <th class="premio" pSortableColumn="qtdeVendaPosicao">
        Venda Qtde Pos<p-sortIcon field="qtdeVendaPosicao"></p-sortIcon>
      </th>
      <th class="premio" pSortableColumn="paPosicao">PA<p-sortIcon field="paPosicao"></p-sortIcon></th>
      <th class="premio" pSortableColumn="ticketMedioPosicao">
        Ticket Médio<p-sortIcon field="ticketMedioPosicao"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-_conquista>
    <tr>
      <td>{{ _conquista.objetivoNome }}</td>
      <td>{{ _conquista.lojaNome }}</td>
      <td>{{ _conquista.vendedorNome }}</td>
      <td class="cpf">{{ _conquista.vendedorCpf }}</td>
      <td class="codigo">{{ _conquista.vendedorCodigo }}</td>
      <td class="premio">
        {{ _conquista.vlrVendaPosicao | number }}
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.vlrVendaClassificacao) +
            ' ' +
            _conquista.vlrVendaClassificacao
          "
        ></i>
      </td>
      <td class="premio">
        {{ _conquista.qtdeVendaPosicao | number }}
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.qtdeVendaClassificacao) +
            ' ' +
            _conquista.qtdeVendaClassificacao
          "
        ></i>
      </td>

      <td class="premio">
        {{ _conquista.paPosicao | number }}
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.paClassificacao) +
            ' ' +
            _conquista.paClassificacao
          "
        ></i>
      </td>

      <td class="premio">
        {{ _conquista.ticketMedioPosicao | number }}
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.ticketMedioClassificacao) +
            ' ' +
            _conquista.ticketMedioClassificacao
          "
        ></i>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-table
  [value]="linhas"
  sortField="vendedorNome"
  styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines"
  (sortFunction)="ordenarTabela($event)"
  [customSort]="true"
  *ngIf="form.get('tipo')?.value == 'porIndicador'"
>
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="2" pSortableColumn="lojaNome">Loja<p-sortIcon field="lojaNome"></p-sortIcon></th>
      <th rowspan="2" pSortableColumn="vendedorNome">Vendedor<p-sortIcon field="vendedorNome"></p-sortIcon></th>
      <th rowspan="2" class="cpf" pSortableColumn="vendedorCpf">CPF<p-sortIcon field="vendedorCpf"></p-sortIcon></th>
      <th rowspan="2" class="codigo" pSortableColumn="vendedorCodigo">
        Código<p-sortIcon field="vendedorCodigo"></p-sortIcon>
      </th>
      <ng-template ngFor let-_c [ngForOf]="colunas" let-_i="index">
        <th class="premio" [pSortableColumn]="'_c' + _i">
          {{ _c['nome'] }}<p-sortIcon [field]="'_c' + _i"></p-sortIcon>
        </th>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-_linha>
    <tr>
      <td>{{ _linha.lojaNome }}</td>
      <td>{{ _linha.vendedorNome }}</td>
      <td>{{ _linha.vendedorCpf }}</td>
      <td>{{ _linha.vendedorCodigo }}</td>
      <ng-template ngFor let-_c [ngForOf]="colunas" let-_i="index">
        <td class="premio">
          <ng-template [ngIf]="_linha.valores['c' + _i] !== undefined">
            {{ _linha.valores['c' + _i].posicao }}
          </ng-template>
          <ng-template [ngIf]="_linha.valores['c' + _i] !== undefined">
            <i
              [class]="
                'fa-solid fa-' +
                obterImagemPremio(_c['premio'], _linha.valores['c' + _i].classificacao) +
                ' ' +
                _linha.valores['c' + _i].classificacao
              "
            ></i>
          </ng-template>
        </td>
      </ng-template>
    </tr>
  </ng-template>
</p-table>
