<form [formGroup]="form" (ngSubmit)="atualizar()">
  <div class="grid formgrid align-items-end">
    <div class="field col-12 sm:col-3 lg:col-3 xl:col-2">
      <label for="dtInicio">Início</label>
      <p-calendar
        formControlName="dtInicio"
        inputId="dtInicio"
        class="p-inputtext-sm"
        styleClass="w-full"
        [showIcon]="true"
        [showButtonBar]="true"
      ></p-calendar>
    </div>

    <div class="field col-12 sm:col-3 lg:col-3 xl:col-2">
      <label for="dtFim">Fim</label>
      <p-calendar
        formControlName="dtFim"
        inputId="dtFim"
        class="p-inputtext-sm"
        styleClass="w-full"
        [showIcon]="true"
        [showButtonBar]="true"
      ></p-calendar>
    </div>

    <div class="field col-12 sm:col-6 lg:col-2 xl:col-2">
      <label for="base">Tipo</label>
      <p-dropdown
        formControlName="tipo"
        class="p-inputtext-sm"
        styleClass="w-full"
        [options]="tipos"
        optionLabel="nome"
        optionValue="id"
      >
      </p-dropdown>
    </div>

    <div class="field col-12 sm:col-6 lg:col-2 xl:col-2">
      <label for="base">Indicador</label>
      <p-dropdown
        formControlName="indicador"
        class="p-inputtext-sm"
        styleClass="w-full"
        [options]="indicadores"
        optionLabel="nome"
        optionValue="id"
      >
      </p-dropdown>
    </div>

    <div class="field col-2 md:col-1">
      <button pButton class="p-button-sm" [disabled]="!form.valid">Atualizar</button>
    </div>
    <div class="field col-2 md:col-1">
      <button pButton class="p-button-sm" [disabled]="!form.valid" type="button" (click)="baixarXls()">XLS</button>
    </div>
  </div>
</form>

<p-table
  [value]="linhas"
  responsiveLayout="scroll"
  p-datatable-striped
  styleClass="p-datatable-sm"
  *ngIf="form.get('tipo')?.value == 'porPeriodo'"
>
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="2">Período</th>
      <th rowspan="2">Loja</th>
      <th rowspan="2">Vendedor</th>
      <th rowspan="2" class="cpf">CPF</th>
      <th colspan="2" class="indicador">Venda R$</th>
      <th colspan="2" class="indicador">Venda Qtde</th>
      <th colspan="2" class="indicador">PA</th>
      <th colspan="2" class="indicador">Ticket Médio</th>
    </tr>
    <tr>
      <th class="posicao">Pos</th>
      <th class="premio">Prêmio</th>
      <th class="posicao">Pos</th>
      <th class="premio">Prêmio</th>
      <th class="posicao">Pos</th>
      <th class="premio">Prêmio</th>
      <th class="posicao">Pos</th>
      <th class="premio">Prêmio</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-_conquista>
    <tr>
      <td>{{ _conquista.objetivoNome }}</td>
      <td>{{ _conquista.lojaNome }}</td>
      <td>{{ _conquista.vendedorNome }}</td>
      <td class="cpf">{{ _conquista.vendedorCpf }}</td>
      <td class="col-numeric posicao">{{ _conquista.vlrVendaPosicao | number }}</td>
      <td class="premio">
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.vlrVendaClassificacao) +
            ' ' +
            _conquista.vlrVendaClassificacao
          "
        ></i>
      </td>

      <td class="col-numeric posicao">{{ _conquista.qtdeVendaPosicao | number }}</td>
      <td class="premio">
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.qtdeVendaClassificacao) +
            ' ' +
            _conquista.qtdeVendaClassificacao
          "
        ></i>
      </td>

      <td class="col-numeric posicao">{{ _conquista.paPosicao | number }}</td>
      <td class="premio">
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.paClassificacao) +
            ' ' +
            _conquista.paClassificacao
          "
        ></i>
      </td>

      <td class="col-numeric posicao">{{ _conquista.ticketMedioPosicao | number }}</td>
      <td class="premio">
        <i
          [class]="
            'fa-solid fa-' +
            obterImagemPremio(_conquista.objetivoPremio, _conquista.ticketMedioClassificacao) +
            ' ' +
            _conquista.ticketMedioClassificacao
          "
        ></i>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-table
  [value]="linhas"
  responsiveLayout="scroll"
  p-datatable-striped
  styleClass="p-datatable-sm"
  *ngIf="form.get('tipo')?.value == 'porIndicador'"
>
  <ng-template pTemplate="header">
    <tr>
      <th rowspan="2">Loja</th>
      <th rowspan="2">Vendedor</th>
      <th rowspan="2" class="cpf">CPF</th>
      <th colspan="2" class="periodo" *ngFor="let _c of colunas">{{ _c['nome'] }}</th>
    </tr>
    <tr>
      <ng-template ngFor let-_c [ngForOf]="colunas">
        <th class="posicao">Pos</th>
        <th class="premio">Prêmio</th>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-_linha>
    <tr>
      <td>{{ _linha.lojaNome }}</td>
      <td>{{ _linha.vendedorNome }}</td>
      <td>{{ _linha.vendedorCpf }}</td>
      <ng-template ngFor let-_c [ngForOf]="colunas" let-_i="index">
        <td class="posicao">{{ _linha.valores['c' + _i].posicao }}</td>
        <td class="premio">
          <i
            [class]="
              'fa-solid fa-' +
              obterImagemPremio(_c['premio'], _linha.valores['c' + _i].classificacao) +
              ' ' +
              _linha.valores['c' + _i].classificacao
            "
          ></i>
        </td>
      </ng-template>
    </tr>
  </ng-template>
</p-table>
