:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
}

.cpf {
  width: 14rem;
}

.codigo {
  width: 7rem;
}

.indicador,
.periodo,
.premio {
  text-align: center !important;
}
